body{

margin:0;
font-family:Arial, sans-serif;
background:#f4f6f9;

}



.container{

width:90%;
margin:auto;

}



header{

background:#2563eb;
color:white;
padding:20px;

display:flex;
justify-content:space-between;
align-items:center;

}


header a{

color:white;
text-decoration:none;

}





.profile-card{

background:white;

margin:40px auto;

padding:30px;

max-width:600px;

text-align:center;

border-radius:15px;

box-shadow:0 5px 20px #ccc;

}



.profile-image{

width:100px;
height:100px;

border-radius:50%;

background:#2563eb;

color:white;

font-size:50px;

display:flex;

align-items:center;

justify-content:center;

margin:auto;

}



.details{

margin-top:30px;

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}



.details div{

background:#f1f5f9;

padding:15px;

border-radius:10px;

}



label{

font-weight:bold;

color:#2563eb;

}



button{

margin-top:30px;

padding:12px 25px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}